@import "tailwindcss";

@theme {
    --color-main-green: #2DB1B1;
    --color-main-orange: #FA6E29;
    --color-main-grey: #EFEFEF;

    --text-regular: 0.875rem;
}

* {
  font-family: 'Montserrat', sans-serif;
}