---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section
        class="w-full flex mx-auto my-4 items-center justify-center"
        style="height: 25vh;"
    >
        <h1 class="font-bold text-5xl">
            ¡Parece que esta página no existe todavía!
        </h1>
    </section>
</Layout>
