---
import Layout from "../../layouts/Layout.astro";
import fetchNews from "../../scripts/fetchNews";
import { marked } from "marked";

const { slug } = Astro.params;
const allNews = await fetchNews();

const newsItem = allNews.find(item => item.slug === slug);

if (!newsItem) throw new Error(`No se encontró la noticia para slug: ${slug}`);

const contentHTML = marked(newsItem.content);
---

<Layout>
    <article class="my-5 prose">
        <h1 class="text-center text-4xl font-bold uppercase">{newsItem.title}</h1>
        <p class="indent-2 mt-4">{newsItem.topic}</p>

        <div class="indent-2" set:html={contentHTML}></div>
    </article>
</Layout>
