<section
    class="flex flex-col-reverse lg:flex-row items-center justify-center gap-10 max-w-6xl mx-auto px-4 py-10 my-10"
>
    <div class="w-full lg:w-1/2 flex justify-center">
        <div class="flex gap-7 flex-wrap justify-center">
            <div class="relative">
                <img
                    class="w-48 h-xs object-cover rounded-xl"
                    src="/defense.jpg"
                    alt=""
                />
                <div class="absolute inset-0 flex items-center text-center justify-center uppercase">
                    <span class="text-white font-bold text-xl">Defensa y Seguridad</span>
                </div>
            </div>
            <div class="relative">
                <img
                    class="w-48 h-xs object-cover rounded-xl"
                    src="/rescue.jpg"
                    alt=""
                />
                <div class="absolute inset-0 flex items-center justify-center">
                    <span class="text-white font-bold text-xl text-center uppercase"
                        >Busqueda y Rescates</span
                    >
                </div>
            </div>
            <div class="relative">
                <img
                    class="w-48 h-xs object-cover rounded-xl"
                    src="/agriculture.jpg"
                    alt=""
                />
                <div class="absolute inset-0 flex items-center justify-center text-center uppercase">
                    <span class="text-white font-bold text-xl">Inspeccion y Vigilancia</span
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-3 w-full lg:w-1/2 text-center lg:text-left">
        <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold mx-auto lg:mx-0">
            Enfocados en sectores de alta demanda
        </h2>
        <p class="w-full sm:w-5/6 lg:w-3/4 mx-auto lg:mx-0">
            La calidad es uno de los valores fundamentales de Xistra. Por eso,
            nos encanta trabajar con profesionales en los sectores más
            demandantes - tecnológica y socialmente - para poder ofrecer unos
            resultados adecuados.
        </p>
    </div>
</section>
