<section
    class="flex flex-col lg:flex-row items-center justify-center gap-10 max-w-6xl mx-auto px-4 py-10 my-10"
>
    <div class="flex flex-col gap-3 w-full lg:w-1/2 text-center lg:text-left">
        <h2
            class="text-2xl sm:text-3xl lg:text-4xl font-bold inline-block mx-auto lg:mx-0"
        >
            <span class="relative inline-block">
                <span
                    class="bg-main-green absolute bottom-1 left-0 w-full h-2 sm:h-3 -z-10"
                ></span>
                <span class="relative">Los valores de Xistra</span>
            </span>
        </h2>
        <p class="w-full sm:w-5/6 lg:w-3/4 mx-auto lg:mx-0">
            Somos una startup que busca contribuir a la sociedad integrando
            sistemas multiagente con el mundo real. En Xistra queremos conectar
            el mundo físico con el mundo agéntico a través de productos y
            soluciones innovadoras basadas en tecnologías propias.
        </p>
    </div>

    <div class="w-full lg:w-1/2 flex justify-center">
        <img
            class="w-full max-w-md object-contain"
            src="/dronFlying.png"
            alt="Un cuadricóptero volando"
        />
    </div>
</section>
